.container {
    width: 70%;
    margin: 0 auto;
}
.card-top {
    top: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    color: #FFF;
    padding: 5px 10px;
}
.material-icons.md-18 { font-size: 18px; width: 18px}
.material-icons.md-yellow { color: #fdd835; }
.material-icons.md-orange { color: #ff9800; }